{
    "sep2": {
        "host": "https://sep2-test.energyq.com.au",
        "dcapUri": "/api/v2/dcap",
        "certPath": "cert.pem",
        "keyPath": "key.pem",
        "pen": 12345
    },
    "sunSpec": {
        "inverters": [
            {
                "ip": "192.168.1.6",
                "port": 502,
                "unitId": 1
            }
        ],
        "meters": [
            {
                "ip": "192.168.1.6",
                "port": 502,
                "unitId": 240
            }
        ]
    }
}
